* {
    font-family: 'Open Sans', sans-serif;
    color: white;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    overflow-x: hidden;
    background-color: black;
}

header {
    position: relative;
    width: 100%;
    height: 35rem;
    background-image: url("../public/media/border.svg");
    background-repeat: repeat-x;
    background-size: 70rem;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: 800;
    transform: translate(0, -2.5rem);
}

mark {
    color: #03C11E;
    background-color: inherit;
    animation-name: fade_in_text;
    animation-delay: 600ms;
    animation-duration: 1800ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

#rose_video {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%) sepia(20%) hue-rotate(-10deg) saturate(150%);
    z-index: -1;
}

#synopsis_section {
    margin: 3.5rem auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    width: 90%;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
}

#l_zoom_img, #r_zoom_img {
    transition: transform 80ms ease-in-out;
    transform: scale(1.2);
}

.synopsis_panels {
    min-width: 20rem;
    width: 35%;
    height: 38rem;
    box-shadow: 0 0 0 #03c120b3;
    border-radius: 5px;
    transition: box-shadow 500ms ease-in-out;
}

.synopsis_panels:hover {
    box-shadow: 0 0 10px #03c120b3;
}

#synopsis_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../public/media/background_synopsis.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

#synopsis_container h2 {
    margin: 0.5rem 0 0.8rem 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    animation-name: fade_in_header1;
    animation-delay: 600ms;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}

.header_animation {
    display: block;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
}

#synopsis_container p {
    font-size: 0.9rem;
    padding: 0 28%;
    line-height: 1.75rem;
    word-spacing: 0.2rem;
    text-align: center;
    transition: all 100ms ease-in-out;
    animation-name: fade_in_text;
    animation-delay: 600ms;
    animation-duration: 1800ms;
    animation-fill-mode: forwards;
    opacity: 0;
}

#test_section {
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#test_section h2 {
    color: #16D013;
    font-family: 'Kanit', sans-serif;
    font-size: 3.1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.6rem;
    margin: 2.5rem 0 4rem 0;
}

#test_panels {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.test_container {
    min-width: 20rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
}
#head_img {
    background-image: url("../public/media/heads_img.webp");
    background-position: center;
    background-repeat: repeat-x;
}

#saturn_img {
    background-image: url("../public/media/saturn_img.webp");
    background-position: center;
    background-repeat: repeat-x;
}

#phone_img {
    background-image: url("../public/media/phone_img.webp");
    background-position: center;
    background-repeat: repeat-x;
}

.test_container .test_img {
    width: 100%;
    height: 20rem;
    opacity: 0;
}

.test_container a {
    background-image: url(../public/media/background_button.webp);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13rem;
    transition: color 200ms ease-in-out, transform 300ms ease-in-out;
    font-size: 1.2rem;
    font-weight: 800;
}

.test_container a:hover {
    color: #03C11E;
    transform: scale(1.01);
}

.more_margin {
    margin-bottom: 2rem;
}

#fade_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000 10%, #00000056);
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    margin: 8rem 0 6rem 0;
}

#partners_text {
    min-width: 18rem;
    padding: 6rem;
    overflow: hidden;
}

#partners_text p {
    font-family: 'Lato', sans-serif;
    font-size: 3rem;
    transform: translate(-20rem);
}

#partners_container {
    display: flex;
    align-items: center;
    padding-left: 2rem;
    height: 6rem;
    border-left: 1px solid white;
}

#partners_container div {
    width: 8.4rem;
    margin: 0 0.6rem;
    overflow: hidden;
}

.partners_logo {
    width: 100%;
    transform: translate(-20rem);
}

@keyframes fade_in_text {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_in_header1 {
    from {
        width: 0;
    }
    to {
        width: 15rem;
    }
}

@keyframes fade_in_header2 {
    from {
        width: 0;
    }
    to {
        width: 55rem;
    }
}

@keyframes partners_animation {
    from {
        transform: translate(-20rem);
    }
    to {
        transform: translate(0);
    }
}

@media screen and (max-width: 149rem){
    body {
        /* background-color: blue; */
    }
    #synopsis_container p {
        padding: 0 25%;
    }
}

@media screen and (max-width: 132rem){
    body {
        /* background-color: blue; */
    }
    #synopsis_container p {
        padding: 0 21%;
    }
}

@media screen and (max-width: 114rem){
    body {
        /* background-color: blue; */
    }
    #synopsis_container p {
        padding: 0 15%;
    }
}

@media screen and (max-width: 95rem){
    body {
        /* background-color: blue; */
    }
    #synopsis_container p {
        padding: 0 8%;
    }
}

@media screen and (max-width: 80rem){
    body {
        /* background-color: blue; */
    }
    #synopsis_container h2 {
        font-size: 2rem;
    }
    #synopsis_container p {
        font-size: 0.79rem;
    }
}